body {
    background: #FAFAFA url(../images/background.jpg) center/cover no-repeat fixed;
}

#wrapper {
    margin-bottom: 2rem !important;
    margin-top: 2rem !important;
}

.left-content {
    color: #DDDDDD;
}

.main-header {
    background: #333333 url(../images/left-background.jpg) center/cover no-repeat;
    padding-bottom: 1rem;
}

.img-profile {
    text-align: center;
}
.img-profile img {
    border-radius: 50%;
    margin-top: 1rem;
}

.name-profile {
    margin-top: 1rem;
    background: #E1E9EE;
    opacity: 0.3;
}
.name-profile span {
    font-family: 'Righteous', 'Helvetica', 'Arial', sans-serif;
    color: #222222;
    font-size: 1.5rem;
    letter-spacing: 1px;
}


ul {
    padding: 0px;
}

.main-nav ul li a {
    display: table;
    text-align: left;
    background: #222222;
    color: #777777;
    font-size: 1rem;
    text-transform: uppercase;
    padding: 15px 25px;
    width: 100%;
    margin-bottom: 1px;
}
.main-nav li a.active,
.main-nav li a:active,
.main-nav li a:hover,
.main-nav li a:focus {
    color: #FFFFFF;
    background: #2997AB;
    text-decoration: none;
}
.main-nav ul li a i {
    padding-right: 1rem;
}

.header-icons .social li {
    display: inline-block;
}
.header-icons .social li a,
.header-icons .social li a:visited {
    font-size: 2rem;
    padding: 0 15px;
    color: #777777;
}
.header-icons .social li a:active,
.header-icons .social li a:hover,
.header-icons .social li a:focus {
    color: #AAAAAA;
}

.content-section .page-heading {
    margin: -1rem -1rem 1rem;
    padding: 1rem 1rem 0rem;
}
.page-heading h1 {
    font-family: 'Righteous', 'Helvetica', 'Arial', sans-serif;;
    font-size: 2rem;
    font-weight: bold;
    color: #666666;
    text-align: center;
    margin-bottom: 0px;
    overflow: hidden;
}
.page-heading h1:before, /* http://jsfiddle.net/Puigcerber/vLwDf/1/ */
.page-heading h1:after {
    background-color: #DDDDDD;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}
.page-heading h1:before {
    right: 0.5em;
    margin-left: -50%;
}
.page-heading h1:after {
    left: 0.5em;
    margin-right: -50%;
}

.content-section {
    padding: 1rem;
    color: #222222;
    font-family: 'Poiret One', cursive;
    font-size: 1.1rem;
    letter-spacing: 2px;
}


.work-experience {
	position: relative;
}

.work-experience h1 {
	font-size: 4rem;
	line-height: 4rem;
}

.timeline:before {
	content: "";
	position: absolute;
	width: 3px;
	height: 100%;
	background: #c0392b;
}

.timeline .column {
	margin: 40px 0px 0px 20px
}

.timeline .column .title h1 {
	color: rgba(0,0,0,0.1);
	font-family: serif;
	letter-spacing: 3px;
}

.timeline .column .title h1:before {
    content: "";
    position: absolute;
    left: -6px;
    margin-top: 25px;
    width: 15px;
    height: 15px;
    background: #fff;
    border: 2px solid #c0392b;
    border-radius: 50%;
}

.timeline .column .title h2 {
	margin-top: -40px;
	font-size: 1.5rem;
	font-weight: bold;
}

.timeline .column .description p {
	text-align: justify;
}

.social-media-grid {
    padding: 1rem;
}

.social-media-grid a {
    color: #17a2b8;
    display: flex;
}
.social-media-grid a:hover {
    color: #138496;
}

.social-media-grid a i {
    padding-right: 0.5rem;
    line-height: inherit;
}

.btn {
    font-weight: bold;
}

.e-mail:before {
    content: attr(data-website) "\0040" attr(data-user);
    unicode-bidi: bidi-override;
    direction: rtl;
}

form input,
form textarea,
form button {
    font-family: 'Helvetica', 'Arial', sans-serif;
}
form ul.errorlist {
    list-style: none;
    margin-bottom: 0rem;
}
form ul.errorlist li {
    color: var(--red);
    font-size: 1.1rem;
}