{% extends 'default.html' %}

{% block 'content' %}
<div class="page-heading"><h1>Contact</h1></div>

<form role="form" action="" method="post" novalidate>
    {% csrf_token %}
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="{{ form.contact_name.id_for_label }}">
                {% if form.contact_name.errors %}
                    {{ form.contact_name.errors }}
                {% else %}
                    {{ form.contact_name.label }}
                {% endif %}
            </label>
            {{ form.contact_name }}
        </div>
        <div class="form-group col-md-6">
            <label for="{{ form.contact_email.id_for_label }}">
                {% if form.contact_email.errors %}
                    {{ form.contact_email.errors }}
                {% else %}
                    {{ form.contact_email.label }}
                {% endif %}
            </label>
            {{ form.contact_email }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col">
            <label for="{{ form.contact_subject.id_for_label }}">
                {% if form.contact_subject.errors %}
                    {{ form.contact_subject.errors }}
                {% else %}
                    {{ form.contact_subject.label }}
                {% endif %}
            </label>
            {{ form.contact_subject }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col">
            <label for="{{ form.contact_message.id_for_label }}">
                {% if form.contact_message.errors %}
                    {{ form.contact_message.errors }}
                {% else %}
                    {{ form.contact_message.label }}
                {% endif %}
            </label>
            {{ form.contact_message }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col">
            {% if form.captcha.errors %}
            <label>{{ form.captcha.errors }}</label>
            {% endif %}
            {{ form.captcha }}
        </div>
        <div class="form-group col text-right">
            <input type="submit" value="Submit" class="btn btn-info" />
        </div>
    </div>
</form>

<div class="row"><div class="col">&nbsp;</div></div>

<div class="page-heading"><h1>Social Media</h1></div>

<div class="social-media-grid">

    <div class="row">
        <div class="col-sm-4">
            <a href="https://www.linkedin.com/in/cleiver"><i class="fab fa-linkedin-in"></i>LinkedIn</a></div>
        <div class="col-sm-4">
            <a href="https://github.com/cleiver"><i class="fab fa-github"></i>Github</a>
        </div>
        <div class="col-sm-4">
            <div><a href="https://www.freecodecamp.org/cleiver"><i class="fab fa-free-code-camp"></i>freeCodeCamp</a></div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <a href="https://codepen.io/cleiver"><i class="fab fa-codepen"></i>CodePen</a>
        </div>
        <div class="col-sm-4">
            <a href="http://blog.cleiver.com"><i class="fab fa-medium-m"></i>Medium</a>
        </div>
        <div class="col-sm-4">
            <a href="https://twitter.com/cleiverrr"><i class="fab fa-twitter"></i>Twitter</a>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <a href="https://www.instagram.com/cleiver"><i class="fab fa-instagram"></i>Instagram</a>
        </div>
        <div class="col-sm-8">
            <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;%63%6C%65%69%76%65%72%40%67%6D%61%69%6C%2E%63%6F%6D"><i class="far fa-envelope"></i><span  class="e-mail" data-user="revielc" data-website="moc.liamg"></span></a>
        </div>
    </div>
</ul>

</div>

{% endblock %}