{% extends 'default.html' %}

{% block 'content' %}
<div class="page-heading"><h1>Work Experience</h1></div>

<div class="work-experience">
    <div class="timeline">

        <div class="column">
            <div class="title">
                <h1>2006 - 2008</h1>
                <h2>Pontifícia Universidade Católica do Rio de Janeiro</h2>
            </div>
            <div class="description text-justify">
                <p>Two year course focused on the analysis and development of systems. Fields of study include project management, database and programming.</p>
            </div>
        </div>

        <div class="column">
            <div class="title">
                <h1>2002 - 2005</h1>
                <h2>Universidade do Grande Rio Professor José de Souza Herdy</h2>
            </div>
            <div class="description text-justify">
                <p>Bachelor degree graduation course organised around the main areas involved in software development. Fields of study include project management (based on PMBOK), systems anaysis and requirements, database use and management, programming languages such as Java, Delphi, Visual Basic and C/C++, network and infrastructure.</p>
            </div>
        </div>

    </div>
</div>

{% endblock %}