{% extends 'default.html' %}

{% block 'content' %}
<div class="page-heading"><h1>Work Experience</h1></div>

<div class="work-experience">
    <div class="timeline">

        <div class="column">
            <div class="title">
                <h1>2012 - Current</h1>
                <h2>Tribunal de Justiça do Estado do Rio de Janeiro</h2>
            </div>
            <div class="description text-justify">
                <p><a href="http://www.tjrj.jus.br">Tribunal de Justiça</a> is the Court of the State of Rio de Janeiro. As a systems analyst, I first started programming in some minor internal systems. A few months later I was going to meetings with users to better define their requirements. In 2015, after an internal restructuring, I started working with system metrics using the <a href="https://en.wikipedia.org/wiki/Function_point">function point</a> methodology, that last for two years, until another internal restructuring.</p>
                <p>Since then, I have been working more as a project manager, being an interface between our users and the company that do the programming for us.</p>
            </div>
        </div>

        <div class="column">
            <div class="title">
                <h1>2009 - 2012</h1>
                <h2>Instituto Estadual do Ambiente</h2>
            </div>
            <div class="description text-justify">
                <p><a href="http://www.inea.rj.gov.br">INEA</a> is the State Institute of Environment of Rio de Janeiro. It was my first job as public servent. As INEA is a small autarchy, I worked in a number of different areas.</p>

                <p>I was the main responsible for their website and I was also responsible for some projects in their green agenda. I also worked as a service desk, helping users, both internal and external, to use their systems and worked on upgrading these systems when needed.</p>
            </div>
        </div>

        <div class="column">
            <div class="title">
                <h1>2008 - 2009</h1>
                <h2>CTIS</h2>
            </div>
            <div class="description text-justify">
                <p><a href="https://www.ctis.com.br">CTIS</a> is a major technology company located in various States of Brazil. I worked on their Software Factory as PHP leader programmer and I was responsible for the maintenance of their internal project management system.</p>
            </div>
        </div>

        <div class="column">
            <div class="title">
                <h1>2007 - 2008</h1>
                <h2>3Jane / Indieclick</h2>
            </div>
            <div class="description text-justify">
                <p>3jane was the technology branch of <a href="https://www.linkedin.com/company/indieclick/">IndieClick</a> agency, located in California, USA. My job was to develop their clients websites. I was the main PHP programmer for makeoutclub.com and comedy.com websites at the time, but I also helped with some quick maintenances in other minor clients.</p>
            </div>
        </div>

        <div class="column">
            <div class="title">
                <h1>2006 - 2006</h1>
                <h2>WB Internet</h2>
            </div>
            <div class="description text-justify">
                <p>WB Internet was a small local internet access provider. There I worked as PHP programmer and helped developing some of their clients websites and small systems.</p>
            </div>
        </div>

        <div class="column">
            <div class="title">
                <h1>2004 - 2005</h1>
                <h2>IBM Brasil</h2>
            </div>
            <div class="description text-justify">
                <p>As an IBM intern I worked in one of their clients doing various kinds of jobs. I started by compiling their weekly and monthly SLA reports, but from time to time I helped in their control area that monitored all systems and billing proccess. Later I was allocated in their servers room, where I was in charge of controlling the backup tapes and robots. I also helped in their inventory control area in the last months of my internship.</p>
            </div>
        </div>

    </div>
</div>

<div class="page-heading"><h1>Volunteer Experience</h1></div>

<div class="work-experience">
    <div class="timeline">

        <div class="column">
            <div class="title">
                <h1>2013 - 2014</h1>
                <h2>Art of Living</h2>
            </div>
            <div class="description text-justify">
                <p><a href="https://www.artofliving.org">Art of LIving</a> is a volunteer-based, humanitarian and educational non-governmental organization. I started by helping the instructors during local courses and soon became the responsible for their products store in my city, where I was in charge of sales, logistics and trainning of other volunteers.</p>
            </div>
        </div>

    </div>
</div>

{% endblock %}