<footer class="footer">
    <!-- <p>&copy; {{ site.title }}</p> -->
    <p>Build for Jekyll with <span class="love">❤</span> by <a href="https://github.com/murraco">Mauricio Urraco</a> and
        adapted to <a href="https://www.statie.org/" target="_blank">Statie</a> by me &#128587;</p>
</footer>
<script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="{{ '/assets/js/sweet-scroll.min.js' }}"></script>
<script src="{{ '/assets/js/main.js' }}"></script>