{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Cleiver.com</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Poiret+One|Righteous" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/default.css' %}">

    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>

<div id="wrapper">
    <div class="container">

        {% if messages %}
        <div class="row">
            <div class="col">
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }} text-center" role="alert">
                    {{ message }}
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        <div class="row">

            <div class="col-md-3 left-content">

                <header id="header">

                    <div class="main-header">

                        <figure class="img-profile">
                            <img class="img-fluid" src="https://media.licdn.com/dms/image/C4E03AQEDgVNftXt8NA/profile-displayphoto-shrink_200_200/0?e=1531353600&v=beta&t=NOjbwkoAAaf_qq6noVjSOZmLIxdwb_fSK7TLu2E4m-s" alt=""/>
                            <figcaption class="name-profile">
                                <span>Cleiver Carneiro</span>
                            </figcaption>
                        </figure>

                        <nav id="main-nav" class="main-nav clearfix tabbed">

                        <ul class="list-unstyled">
                            <li><a href="{% url 'resume:experience-page' %}"><i class="fas fa-tasks"></i>Experience</a></li>
                            <li><a href="{% url 'resume:education-page' %}"><i class="fas fa-graduation-cap"></i>Education</a></li>
                            <li><a href="{% url 'resume:contact-page' %}"><i class="far fa-comment"></i>Contact</a></li>
                        </ul>

                        </nav>

                        <div class="header-icons text-center">
                            <ul class="social">
                                <li><a href="http://blog.cleiver.com"><i class="fab fa-medium-m"></i></a></li>
                                <li><a href="https://www.linkedin.com/in/cleiver"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="https://github.com/cleiver"><i class="fab fa-github-alt"></i></a></li>
                            </ul>
                        </div>

                    </div>

                </header>

            </div>

            <div class="col-md-9 main-content">

                <section class="content-section bg-white">

                    {% block 'content' %}{% endblock %}

                </section>

            </div>

        </div>
    </div>
</div>

</body>
</html>